<div class="container">
		<ul class="list-group">
				<li class="list-group-item ">
						<div class="profile-userpic">
								<div align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
									<input id="profile-image-upload" class="hidden" type="file">
									
								</div>
								<div class="profile-usertitle">
										<div class="profile-usertitle-name">
										   {{user.firstName}} {{user.lastName}}
										</div>
										<div class="profile-usertitle-job">
											Cliente {{user.catengory}}
										</div>
								</div>
								<div class="list-group">
										<div class="profile-userbuttons">
												<button type="button" data-toggle="modal" data-target="#myModalUser"class="btn btn-success btn-sm" (click)="openForm()">Editar Perfil</button>
										</div>
								</div>
								<div class="profile-usermenu ">
										<ul class="nav">
												<li class="active">
														<a routerLink="/profile">
														<i class="glyphicon glyphicon-home"></i>
														Mi perfil </a>
													</li>
											<li>
												<a routerLink="/notifications">
												<i class="glyphicon glyphicon-ok"></i>
												Mis Ordenes </a>
											</li>
										</ul>
							   </div>
					  </div>
				</li>
				<br>
				<li class="list-group-item ">
						<div class="card-body">
								<div align="center" >
										<div class="profile-content center-block" align="left" >
												<h4>
												{{user.firstName}} {{user.lastName}}
												</h4>
												<small><i class="glyphicon glyphicon-map-marker">
													</i><cite title="San Francisco, USA">&nbsp;&nbsp;Bogotá, Colombia </cite></small>
												<p>
														<i class="glyphicon glyphicon-envelope"></i> {{user.email}}
														<br />
												<!-- Split button -->
										</div>
						</div>
						</div>
				</li>
                <br>
				<li class="list-group-item ">
						<div class="card-body">
								<div align="center" >
									<div class="profile-content center-block" align="left" >
										<div class="logo-card">
											 <div class="icon-card">
													 <img src= "../../../assets/images/amx.PNG">
											 </div>
										</div>
										<div class="simple-information">
												<a><h5> Nombre de tarjeta</h5></a>
												<a><h6> xxxx-xxxx-xxx-789</h6></a>
												
											 <div class="schedule-card">
													 <i class="glyphicon glyphicon-flag"></i>
													 <span> 
														Activa
													 </span>
											 </div>
										</div>
									</div>
								</div>
						</div>
				</li>
		</ul>
		<br>
</div>
	  <div class="modal fade" id="myModalUser" role="dialog">
			<form method="post" class="form-horizontal" action=""  novalidate="novalidate">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					  <h4 class="modal-title">Registro</h4>
					</div>
					<div class="modal-body">
				<label>Id:</label>
				<input #Id ngModel name="Id" class="form-control" type="text" [(ngModel)]="user.idCustomer"/>
				<label>Nombre:</label>
				<input #FirstName ngModel name="FirstName" class="form-control" type="text" [(ngModel)]="user.firstName"/>
				<p></p>
				<label>Apellido:</label>
				<input #LastName ngModel name="LastName" class="form-control" type="text" [(ngModel)]="user.lastName"/>
				<label>Tipo documento:</label>
				<select #DocumentType ngModel name="DocumentType" class="form-control">
				  <option value="">seleccione un tipo de documento....</option>
				  <option value="CC">Cedula</option>
				  <option value="PS">Pasaporte</option>
				</select>
				<label>N° Documento:</label>
				<input #Document ngModel  name="Document" type="text" class="form-control" [(ngModel)]="user.documnetNumber"/>
				<label>Telefono:</label>
				<input #Phone ngModel name="Phone" type="text" class="form-control" [(ngModel)]="user.phoneNumber"/>
				<label>Email:</label>
				<input #Email ngModel name="Email" type="email" class="form-control" [(ngModel)]="user.email"/>
				<p></p>
				<label>Contraseña:</label>
				<input #Password ngModel name="Password" type="password" class="form-control"/>
				<p></p>
				<label>Repetir Contraseña:</label>
				<input #RePassword ngModel name="RePassword" type="password" class="form-control"/>
				<label>Tipo de tarjeta:</label>
				<select #CardType ngModel name="CardType" class="form-control">
						<option selected>Seleccionar...</option>
						<option value="AMX">Amx</option>
						<option value="2">Visa</option>
						<option value="3">Dine</option>
						<option value="3">Mast</option>
				</select>
				<p></p>
				<label>Número de Tarjeta:</label>
				<input #NumberCard ngModel name="NumberCard" class="form-control"/>		
			</div>
					
					<div class="modal-footer">
						  <div class="col-md-1">
				  <button type="button" class="btn btn-default" 
				  (click)="updateUser(Id.value,FirstName.value, LastName.value, DocumentType.value, Document.value, 
				  Phone.value, Email.value, Password.value, RePassword.value,CardType.value, NumberCard.value )" 
				  data-dismiss="modal">Actualizar</button>
						  </div>
					</div>
				  </div>
			</div>
			</form>
		</div>
		
<br><br><br>