
@{
    ViewData["Title"] = "_layoutLogin";
}
<!DOCTYPE html>
<html>
<head> 
    <meta name="viewport" content="width=device-width" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="container body-content">
        <br />
        <br />
        @RenderBody()
        <hr />
        <footer style="text-align: center;">
            <p>&copy; 2018 - OMS Toures Balón</p>
        </footer>
    </div>
</body>
</html>


