<div class="container">
  <ul class="list-group">
      <li class="list-group-item col-md-3" *ngFor="let order of orderItems">
          <div class="card-body">
                    <div>
                      <h4>Orden N° {{order.idSales}}</h4>
                      <ul class="timeline">
                        <li >
                          <a target="_blank" href="https://www.totoprayogo.com/#">Solicitud </a>
                          <a class="float-right">{{order.orderDate}}</a>
                          <p>Precio: {{order.price}}</p>
                          <p>Estatus: {{order.statusOrder}}</p>
                          <p>Comentarios: {{order.comments}}</p>
                        </li>
                      </ul>
                      <button type="button" class="btn btn-danger" (click)="removeOrder(order.idSales)" >Cancelar</button>
                    </div>
          </div>
      </li>
  </ul>
  <br>
<br>
<br>
<br>
<br>
<br>
</div>
