<div class="container">
<div class="form-group-forms">
  <div class="logo-login">
      <img src="../../../assets/images/toures_balon.PNG">
  </div>
  <div class="form-login">
      <form method="post" class="form-horizontal "  action=""  >
          <div class="form-group" style="width: 100%; width: 100%; margin-left:-2px;">
            <label class="col-form-label " for="Email">
              Correo
            </label>
            <br>
            <input class="form-control" style="color: grey" #UserName ngModel placeholder="usuario@dominio.com" type="email" required="" name="UserName">
            <label class="col-form-label" for="Password">
              Clave
            </label>
            <br>
            <input class="form-control" #Pass ngModel type="password" required="" name="Pass">
          <div class="form-group">
            <a href="https://portal.office.com" class="custom-ref" target="_blank" rel="noopener noreferrer">Olvidé mi clave</a>
            <br/>
            <a class="custom-ref" target="_blank" data-toggle="modal" data-target="#myModal" rel="noopener noreferrer">Registrarme</a>
          </div>
          <div class="pt-3">
            <button id="submit-button" (click)="LoginOn(UserName.value, Pass.value)" type="submit" class="btn-danger">Ingresar</button>
          </div>
        </div>
      </form>
  </div>
</div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <form method="post" class="form-horizontal" action=""  novalidate="novalidate">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Registro</h4>
			</div>
			<div class="modal-body">
        <label>Nombre:</label>
        <input #FirstName ngModel name="FirstName" class="form-control"/>
				<p></p>
				<label>Apellido:</label>
        <input #LastName ngModel name="LastName" class="form-control"/>
        <label>Tipo documento:</label>
        <select #DocumentType ngModel name="DocumentType" class="form-control">
          <option value="">seleccione un tipo de documento....</option>
          <option value="CC">Cedula</option>
          <option value="PS">Pasaporte</option>
        </select>
        <label>N° Documento:</label>
        <input #Document ngModel  name="Document" type="text" class="form-control"/>
        <label>Telefono:</label>
        <input #Phone ngModel name="Phone" type="text" class="form-control"/>
        <label>Email:</label>
        <input #Email ngModel name="Email" type="email" class="form-control"/>
				<p></p>
				<label>Contraseña:</label>
				<input #Password ngModel name="Password" type="password" class="form-control"/>
        <p></p>
        <label>Repetir Contraseña:</label>
				<input #RePassword ngModel name="RePassword" type="password" class="form-control"/>
			</div>
			<div class="modal-footer">
                  <div class="col-md-1">
          <button type="button" class="btn btn-default" 
          (click)="createUser(FirstName.value, LastName.value, DocumentType.value, Document.value, 
          Phone.value, Email.value, Password.value, RePassword.value)" 
          data-dismiss="modal">Registrarme</button>
				  </div>
			</div>
		  </div>
    </div>
    </form>
</div>

