<div>
    <div class="col-md-12">
        <span><strong>Catalogo:</strong></span>
    </div>
    <br/>
    <div class="col-md-1">
        <button class="botonF1" name="Carrito de compra" (click)="toggleChild()">
            <span><i class="glyphicon glyphicon-shopping-cart"></i></span>
        </button>
    </div>
    <div >
        <app-shoppingcart [showMePartially]="showVar"></app-shoppingcart>
    </div>
    <br/>
    <hr>
    <div>
        <div class="w3-container">
            <div class="w3-card-4" style="width:100%;">
              <header class="w3-container w3-blue">
                <h4>Nombre producto</h4>
              </header>
          
              <div class="w3-container">
                <table>
                    <tr>
                      <td><img src="https://www.hipermaterial.es/_imagenes/libreta-clairefontaine-240x320-mm-48-63361c-imagen-64141.jpg" style="height:100px; width:120px;"/></td>
                      <td>Descripcion producto</td>
                    </tr>
              </table>
              </div>
          
              <footer class="w3-container w3-blue">
                <table>
                    
                  <tr style="text-align:center;">
                      <td>Precio:</td>
                    </tr>
                  <tr style="text-align:center;">
                      <td><i class="glyphicon glyphicon-plus"></i>Agregar</td>
                    </tr>
              </table>
              </footer>
            </div>
          </div>
          
    </div>
    <div class="center">
        <div class="pagination">
            <a href="#">❮</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">❯</a>
        </div>
    </div>
</div>
