@model OMSApp.DAL.DatabaseSql.Transport

<h4>Transport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Transport">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceCity" class="control-label"></label>
                <input asp-for="SourceCity" class="form-control" />
                <span asp-validation-for="SourceCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetCity" class="control-label"></label> 
                <input asp-for="TargetCity" class="form-control" />
                <span asp-validation-for="TargetCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartDate" class="control-label"></label>
                <input asp-for="DepartDate" class="form-control" />
                <span asp-validation-for="DepartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomEmp" class="control-label"></label>
                <input asp-for="NomEmp" class="form-control" />
                <span asp-validation-for="NomEmp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoTrans" class="control-label"></label>
                <input asp-for="TipoTrans" class="form-control" />
                <span asp-validation-for="TipoTrans" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

